{% extends "post/main.html" %}
{% block content %}
        <!-- headline -->
        {% if headline %}
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-5by3">
                            <a href="{{ url_for('posts.post', berita=headline.category.slug, post_id=headline.slug) }}">
                                <img src="{{ url_for('static', filename='upload/img_thumbnail/' + headline.image_thumb) }}" alt="{{ headline.title }}">
                            </a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title is-4"><a href="{{ url_for('posts.post', berita=headline.category.slug, post_id=headline.slug) }}">{{ headline.title }}</a></p>
                        <p class="subtitle is-6">{{ headline.content|striptags|truncate(255) }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
            <!-- headline -->
            <div class="columns">
                <div class="column">
                    <div class="columns">
                        <div class="column">
                            <p class="title is-4">Artikel Terbaru</p>
                        </div>
                    </div>
                    {% for post in posts.items %}
                    <div class="columns">
                        <div class="column is-two-fifths">
                            <figure class="image is-16by9">
                                <a href="{{ url_for('posts.post', berita=post.category.slug, post_id=post.slug) }}">
                                    <img src="{{ url_for('static', filename='upload/img_thumbnail/' + post.image_thumb) }}" alt="{{ post.title }}">
                                </a>
                            </figure>
                        </div>
                        <div class="column">
                            <a class="title is-4 is-marginless" href="{{ url_for('posts.post', berita=post.category.slug, post_id=post.slug) }}">{{ post.title }}</a>
                            <p class="subtitle is-size-7 has-text-grey-light is-marginless">{{ post.category.nama_kategori }} {{ post.date_posted.strftime('%d-%h-%Y') }}</p>
                            <p class="subtitle is-6">{{ post.content|striptags|truncate(100) }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <section class="section">
                        <div class="columns">
                            <div class="column">
                                {% if posts.has_prev %}
                                <a href="{{ url_for('posts.home', page=posts.prev_num) }}" class="button is-dark is-rounded is-outlined">Prev</a>
                                {% endif %}
                                {% if posts.has_next %}
                                <a href="{{ url_for('posts.home', page=posts.next_num) }}" class="button is-dark is-rounded is-outlined is-pulled-right">Next</a>
                                {% endif %}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
{% endblock content %}