{% extends "admin/layout.html" %}
{% block content %}
    <!-- Jumbotron Header -->
	<div class="my-4">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="field">
                {{ form.nama.label(class="label") }}
                {% if form.nama.errors %}
                    {{ form.nama(class="input") }}
                    <div class="invalid-feedback">
                        {% for error in form.nama.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.nama(class="input") }}
                {% endif %}
            </div>
            <div class="field">
                <div class="form-group">
                        {{ form.submit(class="button is-info") }}
                </div>
            </div>
        </form>
    </div>

      <!-- Page Features -->
{% endblock content %}